{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
    <div style="text-align: center;">
        <form action="{%url 'urlnamenew' %}" method="POST">
        {% csrf_token %}
        <h3>새 글 작성 페이지 입니다.</h3> <br>
            이름 : <input type="text" name = 'htmlname' value = "{{user.name}}" readonly><br>
            학번 : <input type="text" name = 'htmlstudent_id' value="{{user.student_id}}" readonly><br>
            학과 : <input type="text" name = 'htmlmajor' value="{{user.major}}" readonly><br>
            q1 : <textarea name="htmlq1" cols="100" rows="10"></textarea><br>
            q2 : <textarea name="htmlq2" cols="100" rows="10"></textarea><br>
            q3 : <textarea name="htmlq3" cols="100" rows="10"></textarea><br>
            q4 : <textarea name="htmlq4" cols="100" rows="10"></textarea><br><br>
            <button type="submit">제출</button>
        </form>
    </div>
    {% endif %}
{% endblock %}