{% extends 'base.html' %}
{% block content %}
    <h3>전체 글 페이지 입니다.</h3><br>
    <h4> 현재 지원자는 {{views_count}}명 입니다!</h4>
    {% if user.is_staff %}
        {% for a in views_apply_all %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><a href="{%url 'urlnamedetail' a.id %}">{{a.name}}</a></h5>
              <h6 class="card-subtitle mb-2 text-muted">{{a.student_id}}</h6>
              <p class="card-text">{{a.major}}</p>
              <a href="#" class="card-link">삭제</a>
              <a href="#" class="card-link">수정</a>
            </div>
        </div>

        {% endfor %}

    {% elif user.is_authenticated %}
        {% for a in views_apply_all %}
            <br>
            {% if user.student_id == a.student_id %}
                이름: <a href="{%url 'urlnamedetail' a.id %}">{{a.name}}</a><br>
                학번: {{a.student_id}}<br>
            {% else %}
                예비사자
            {% endif %}
            학과: {{a.major}}<br>
            작성날짜: {{a.date}}<br>
        ----------------------------------------------
        {% endfor %}
    {% endif %}
{% endblock %}
